.Header {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 225, 255);
    width: 89em;
    height: 6em;
    font-size: 18px;
    header {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 90%;
        }
        .header-nav {
            width: 30%;
            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;
                li {
                    margin-right: 3em;
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
        button {
            width: 8em;
            height: 3em;
            font-size: 18px;
            background-color: rgb(144, 34, 218);
            color: rgb(255, 255, 255);
            padding: 0.5em;
            border-radius: 8px;
            border: rgb(144, 34, 218);
        }
    }
}