.MainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89em;
    height: 6em;
    background: rgb(144, 34, 218);
    font-size: 18px;
    .main-nav {
        width: 70%;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            margin-left: 10em;
            list-style: none;
            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}